.main-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family: 'Arial', sans-serif;
    width:100%;
}

button {
    background-color:cornflowerblue;
    border-radius:5px;
    padding:8px;
    font-size:100%;
    border: 1px solid white;
    color:white;
    fill:white;
    outline:none;
}

button:hover {
    cursor:pointer;
    color:cornflowerblue;
    fill:cornflowerblue;
    border:1px solid cornflowerblue;
    background-color:white;
}

button:active {
    outline:none;
}

button > div > div {
    display:flex;
    align-items:center;
}

.save {
    margin:15px;
    color:cornflowerblue;
}

.disabled, .disabled:hover {
    color:slategray;
    background-color:#F5F5F5;
    cursor:default;
    border:1px solid slategray;
    transition:.5s;
}

.save > div:last-child {
    margin:5px 0 5px 0;
    transition:.5s;
}